<div class="card bg-light text-dark">
  <div class="card-header">{{titulo}}</div>

  <div card-body>
    <form #clienteForm="ngForm">

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" name="nombre" [(ngModel)]="cliente.nombre" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <input type="text" name="apellido"  [(ngModel)]="cliente.apellido" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="text" name="email" [(ngModel)]="cliente.email" class="form-control">
        </div>
      </div>

      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">
          <input type="date"  class="form-control" [(ngModel)]="cliente.createdAt" name="createAt" >

        </div>
      </div>

      <div class="form-group row">
        <label for="region" class="col-form-label col-sm-2">Región</label>
        <div class="col-sm-6">
          <select [compareWith]="compararRegion" class="form-control" [(ngModel)]="cliente.region" name="region" style="width:500px;">
            <option [ngValue]="undefined">--- selecionar una región ---</option>
            <option *ngFor="let region of regiones" [ngValue]="region">{{region.nombre}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="task" class="col-form-label col-sm-2">Task Nombre</label>
        <div class="col-sm-6">
          <select [compareWith]="compararTask" class="form-control" [(ngModel)]="cliente.task" name="task" style="width:500px;">
            <option [ngValue]="undefined">--- selecionar un task ---</option>
            <option *ngFor="let task of tasks" [ngValue]="task">{{task.label}}</option>
          </select>
        </div>
      </div>

      <div class="form-group row" >
        <label for="task" class="col-form-label col-sm-2">Task Estado</label>
        <div class="col-sm-6" *ngIf="cliente.task.completa == true else otro">
          <select name="task" style="width:500px;">
            <option selected>true</option>
            <option> false</option>
          </select>
          <!--<select [compareWith]="compararTask" class="form-control" [(ngModel)]="cliente.task" name="task" style="width:500px;">
            <option [ngValue]="undefined">--- selecionar un estado ---</option>
            <option *ngFor="let task of tasks" [ngValue]="task">{{task.completa}}</option>
          </select>-->
        </div>

        <ng-template #otro>
          <select name="task" style="width:500px;">
            <option selected>false</option>
            <option> true </option>
          </select>
        </ng-template>
      </div>



      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-success btn-sm" role="botton" (click)="create()" *ngIf="!cliente.id else elseBlock"><i class="fa fa-plus"></i>Create</button>

          <ng-template #elseBlock>
            <button class="btn btn-primary" role="button" (click)='update()'>Editar</button>
          </ng-template>

        </div>
      </div>


    </form>
  </div>
</div>
